__pycache__
*.pyc
*.sqlite3
.DS_Store
.idea/
django/.env
venv*/*
infrastructure/terraform/aws/.*
infrastructure/terraform/aws/*state*
.terraform*
infrastructure/terraform/aws-test/.terraform
infrastructure/terraform/aws/.terraform
terraform.*